@{
    ViewData["Title"] = "Home Page";
}

<div>

    <div class="text-center">
        <h1 class="display-4">"Kozloduy" NPP</h1>
        <p>@ViewData["introduction"]</p>
    </div>
    <br />
    <div class="text-center" style="font-size: 12px;">
        <img width="600px" src = "~/img/_АЕЦ_Козлодуй_.jpeg.jpeg" />
        <br />
        <p style="border-bottom: 3px solid red;">@ViewData["text0"]</p>
        <br />
        <img src="~/img/Kozloduy_Nuclear_Power_Plant_-_Control_Room_of_Unit_5.jpg" />

        <br />

        <p style="border-bottom: 3px solid red;">@ViewData["text1"]</p>

        <p style="border-bottom: 3px solid red;">@ViewData["text2"]</p>

        <img src="~/img/NPP_Kozloduy_1-4.jpg" />


    </div>

</div>