@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>NPP simulator spare parts project</h2>

<p>This website is an university project to be represented to Assoc. Prof. PhD Antonia Tasheva.</p>

<p>Made by Lyuben Kirev, #121321051</p>

<p>2021</p>